<!-- plant/templates/plant/delete_part.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Part</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Delete Part</h1>
        <p>Are you sure you want to delete this part?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'plant:display_parts' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
