<div class="dashboard-table-row-asset asset dashboard-border borders" style="background-color:{{data.2}}">
    <div class="dashboard-table-row-asset-number asset-number">
        <a href="{% url 'dashboards:track_graph' data.0 %}"
            onclick="window.open('{% url 'dashboards:track_graph' data.0 %}', 'newwindow', 'width=1400, height=600'); return false;">
            {{data.0}}</a>
    </div>
    <div class="dashboard-table-row-asset-count asset-count">({{data.1}})</div> <!-- Updated to use data.1 for combined count -->
</div>
