{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    {% if request.session.track_history != 1 %}
        <meta http-equiv="refresh" content="10" />
    {% endif %}
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        function track_history(){location.replace("{{request.session.local_toggle}}/cell_track_8670_history_on")}
        function track_return(){location.replace("{{request.session.local_toggle}}/cell_track_8670_history_off")}
    </script>

    <!-- bootstrap -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Format for Background image -->

    {% include "dashboards/styles_common.html" %}
    {% include "dashboards/styles_split_column.html" %}
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-spacer"> </div>
        <!--  AB1V Rx  -->
        <div class="dashboard-table">
            <div class="dashboard-border dashboard-table-heading" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">AB1V Rx (Predict {{op.130}})</a>
            </div>
            <div class="dashboard-table-row">  <!-- OP 10  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP10</div>
                    <div class="dashboard-table-row-asset-count">({{op.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.0 %}
                {% include "dashboards/asset_block.html" with data=codes.1 %}
                {% include "dashboards/asset_block.html" with data=codes.2 %}
                {% include "dashboards/asset_block.html" with data=codes.3 %}
                {% include "dashboards/asset_block.html" with data=codes.4 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 30  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP20/30</div>
                    <div class="dashboard-table-row-asset-count">({{op.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.5 %}
                {% include "dashboards/asset_block.html" with data=codes.6 %}
                {% include "dashboards/asset_block.html" with data=codes.7 %}
                {% include "dashboards/asset_block.html" with data=codes.8 %}
                {% include "dashboards/asset_block.html" with data=codes.9 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 40  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP40</div>
                    <div class="dashboard-table-row-asset-count">({{op.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.10 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 50  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP50</div>
                    <div class="dashboard-table-row-asset-count">({{op.50}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.11 %}
                {% include "dashboards/asset_block.html" with data=codes.12 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 60  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP60</div>
                    <div class="dashboard-table-row-asset-count">({{op.60}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.13 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 70  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP70</div>
                    <div class="dashboard-table-row-asset-count">({{op.70}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.14 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 80  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP80</div>
                    <div class="dashboard-table-row-asset-count">({{op.80}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.15 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 90  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP90</div>
                    <div class="dashboard-table-row-asset-count">({{op.90}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.16 %}
            </div>
            <div class="dashboard-table-row">  <!-- Laser  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Laser</div>
                    <div class="dashboard-table-row-asset-count">({{op.130}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes.18 %}
                {% include "dashboards/asset_block.html" with data=codes.19 %}
                {% include "dashboards/asset_block.html" with data=codes.17 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  AB1V OD  -->
        <div class="dashboard-table">
            <div class="dashboard-border dashboard-table-heading" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">AB1V Overdrive (Predict {{op_5404.130}})</a>
            </div>
            <div class="dashboard-table-row">  <!-- OP 10/20  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP20</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.0 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.1 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 25  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP25</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.25}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.2 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.3 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 30  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP30</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.4 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.5 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.6 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 35  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP35</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.35}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.7 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 40  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP40</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.8 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 50  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP50</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.50}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.9 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 60  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP60</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.60}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.10 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 70  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP70</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.70}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.11 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 80  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP80</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.80}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.12 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 90  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP90</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.90}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.13 %}
            </div>
            <div class="dashboard-table-row">  <!-- Laser  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Laser</div>
                    <div class="dashboard-table-row-asset-count">({{op_5404.130}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5404.15 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.16 %}
                {% include "dashboards/asset_block.html" with data=codes_5404.14 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  AB1V IN  -->
        <div class="dashboard-table">
            <div class="dashboard-border dashboard-table-heading" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">AB1V Input (Predict {{op_5401.130}})</a>
            </div>
            <div class="dashboard-table-row">  <!-- OP 10  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP10</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.0 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.1 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 40  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP40</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.2 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.3 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 50  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP50</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.50}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.4 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 60  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP60</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.60}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.5 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.6 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 70  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP70</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.70}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.7 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.8 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 80  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP80</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.80}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.9 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 90  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP90</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.90}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.10 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 100  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP100</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.100}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.11 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 110  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP110</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.110}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.12 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP Laser  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Laser</div>
                    <div class="dashboard-table-row-asset-count">({{op_5401.130}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_5401.14 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.15 %}
                {% include "dashboards/asset_block.html" with data=codes_5401.13 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  10R140 Rear  -->
        <div class="dashboard-table">
            <div class="dashboard-table-heading dashboard-border" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">10R140 Rear (Predict {{op_10R140.130}})</a>
            </div>
            <div class="dashboard-table-row">  <!-- OP 10  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP10</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.0 %}
                {% include "dashboards/asset_block.html" with data=codes_10R140.1 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 20  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP20</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.2 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 30  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP30</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.3 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 40  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP40</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.4 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 50  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP50</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.50}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.5 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 60  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP60</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.60}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.6 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 70  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP70</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.70}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.7 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 80  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP80</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.80}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.8 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 90  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP90</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.90}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.9 %}
                {% include "dashboards/asset_block.html" with data=codes_10R140.10 %}
            </div>
            <div class="dashboard-table-row">  <!-- OP 100  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">OP100</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.100}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.11 %}
            </div>
            <div class="dashboard-table-row">  <!-- Laser  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Laser</div>
                    <div class="dashboard-table-row-asset-count">({{op_10R140.130}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_10R140.12 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
    </div>
</body>
</html>
