{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    {% if request.session.track_history != 1 %}
        <meta http-equiv="refresh" content="10" />
    {% endif %}
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        function track_history(){location.replace("{{request.session.local_toggle}}/cell_track_8670_history_on")}
        function track_return(){location.replace("{{request.session.local_toggle}}/cell_track_8670_history_off")}
    </script>

    <!-- bootstrap -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Format for Background image -->

    {% include "dashboards/styles_common.html" %}
    {% include "dashboards/styles_split_column.html" %}
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-spacer"> </div>
        <!--  Sinter  -->
        <div class="dashboard-table">
            <div class="dashboard-table-heading dashboard-border" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">Sinter (Predict {{op_col1.30}})</a>
            </div>
            <div class="dashboard-table-row">  <!--  Compact  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Compact</div>
                    <div class="dashboard-table-row-asset-count">({{op_col1.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col1.0 %}
                {% include "dashboards/asset_block.html" with data=codes_col1.1 %}
            </div>
            <div class="dashboard-table-row">  <!--  Assembly  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Assemb</div>
                    <div class="dashboard-table-row-asset-count">({{op_col1.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col1.2 %}
            </div>
            <div class="dashboard-table-row">  <!--  Furnace Unload  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Unload</div>
                    <div class="dashboard-table-row-asset-count">({{op_col1.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col1.3 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  Optimized  -->
        <div class="dashboard-table">
            <div class="dashboard-table-heading dashboard-border" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">Optimized (Predict {{op_col2.40}})</a>
            </div>
            <div class="dashboard-table-row">  <!--  Broaching  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Broach</div>
                    <div class="dashboard-table-row-asset-count">({{op_col2.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col2.0 %}
            </div>
            <div class="dashboard-table-row">  <!--  Heat Treatment  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Heat</div>
                    <div class="dashboard-table-row-asset-count">({{op_col2.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col2.1 %}
            </div>
            <div class="dashboard-table-row">  <!--  Machining  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Machine</div>
                    <div class="dashboard-table-row-asset-count">({{op_col2.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col2.2 %}
                {% include "dashboards/asset_block.html" with data=codes_col2.3 %}
                {% include "dashboards/asset_block.html" with data=codes_col2.4 %}
                {% include "dashboards/asset_block.html" with data=codes_col2.5 %}
            </div>
            <div class="dashboard-table-row">  <!--  Slurry  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Slurry</div>
                    <div class="dashboard-table-row-asset-count">({{op_col2.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col2.6 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  Trilobe  -->
        <div class="dashboard-table">
            <div class="dashboard-table-heading dashboard-border" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">Trilobe (Predict {{op_col3.40}})</a>
            </div>
            <div class="dashboard-table-row">  <!--  Broaching  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Broach</div>
                    <div class="dashboard-table-row-asset-count">({{op_col3.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col3.0 %}
            </div>
            <div class="dashboard-table-row">  <!--  Heat Treatment  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Heat</div>
                    <div class="dashboard-table-row-asset-count">({{op_col3.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col3.1 %}
            </div>
            <div class="dashboard-table-row">  <!--  Machining  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Machine</div>
                    <div class="dashboard-table-row-asset-count">({{op_col3.30}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col3.2 %}
                {% include "dashboards/asset_block.html" with data=codes_col3.3 %}
                {% include "dashboards/asset_block.html" with data=codes_col3.4 %}
                {% include "dashboards/asset_block.html" with data=codes_col3.5 %}
                {% include "dashboards/asset_block.html" with data=codes_col3.6 %}
                {% include "dashboards/asset_block.html" with data=codes_col3.7 %}
            </div>
            <div class="dashboard-table-row">  <!--  Slurry  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Slurry</div>
                    <div class="dashboard-table-row-asset-count">({{op_col3.40}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col3.8 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
        <!--  Offline  -->
        <div class="dashboard-table">
            <div class="dashboard-table-heading dashboard-border" style="background-color:#D5D5D5;">
                <a href="{% url 'dashboards:dashboard_index'%}">Offline (Predict {{op_col4.30}})</a>
            </div>
            <div class="dashboard-table-row">  <!--  Machining  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Machine</div>
                    <div class="dashboard-table-row-asset-count">({{op_col4.10}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col4.0 %}
            </div>
            <div class="dashboard-table-row">  <!--  Machining  -->
                <div class="dashboard-table-row-operation dashboard-border">
                    <div class="dashboard-table-row-asset-number">Machine</div>
                    <div class="dashboard-table-row-asset-count">({{op_col4.20}})</div>
                </div>
                {% include "dashboards/asset_block.html" with data=codes_col4.1 %}
            </div>
        </div>
        <div class="dashboard-spacer"> </div>
    </div>
</body>
</html>
