{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h1>Dashboard Index</h1>
        <hr>
            <a href="{% url '1467' %}">1467</a><br>
            <a href="{% url 'ab1v'%}">8670</a><br>
            <a href="{% url 'trilobe'%}">Trilobe</a>
            <div>9341
                <ul>
                    <a href="{% url '9341'%}">Desk</a><br>
                    <a href="{% url 'track9341_TV'%}">TV</a><br>
                    <a href="{% url 'track9341_mobile'%}">Mobile</a>   
                </ul>
            </div>
    </div>
</body>
</html>