{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Fluid Container with Grid</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .column-outline {
            border: 2px solid black;
            min-height: 100vh; /* Set height to match the viewport height */
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .responsive-text {
            font-size: calc(1rem + 2vw); /* Responsive font size */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 column-outline">
                <div class="responsive-text">
                    Column 1
                </div>
            </div>
            <div class="col-md-6 column-outline">
                <div class="responsive-text">
                    Column 2
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
