{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "index_style.html" %}
</head>
<body>
    <div class="container">
        <h1>{{main_heading}}</h1>
        <hr>
        <div class="card">
            {% include "index_block_dashboard.html" %}
        </div>
    </div>
</body>
</html>