{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        h1 {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dashboards Index</h1>
        <hr>
        {% include "index_block_dashboard.html" %}
    </div>
</body>
</html>