<ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action p-4">
        <a class="link" href="{% url 'dashboards:1467' %}">1467</a>
        <div class="description">Subset of Trilobe. Legacy</div>
    </li>
    <li class="list-group-item list-group-item-action p-4">
        <a class="link" href="{% url 'dashboards:ab1v'%}">8670</a>
        <div class="description">AB1V, 10R140</div>
    </li>
    <li class="list-group-item list-group-item-action p-4">
        <a class="link" href="{% url 'dashboards:trilobe'%}">Trilobe</a>
        <div class="description">Includes 1467</div>
    </li>
    <li class="list-group-item list-group-item-action p-4">
        <a class="link" href="{% url 'dashboards:9341'%}">9341</a>
        <div class="description">For 10R80 and 10R60</div>
    </li>
</ul>