{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "index_style.html" %}
</head>
<body>
    <div class="container">
        <h1>PMS Index</h1>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <a class="link" href="{% url 'barcode:barcode_index'%}">Barcode Index</a>
                    </button>
                </h2>
                <div id="collapseOne" class="store-collapse accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body p-0">          
                        {% include "index_block_barcode.html" %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a class="link" href="{% url 'dashboards:dashboard_index'%}">Dashboard Index</a>
                    </button>
                </h2>
                <div id="collapseTwo" class="store-collapse accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body p-0">          
                        {% include "index_block_dashboard.html" %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a class="link" href="{% url 'prod_query:prod-query_index'%}">Production Query Index</a>
                    </button>
                </h2>
                <div id="collapseThree" class="store-collapse accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body p-0">          
                        {% include "index_block_production_query.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
        <div>
            <h4><a href="{% url 'query_tracking:query-tracking' %}">Query Time</a></h4><br>
            <div>-/-</div>
        </div>
        {% endcomment %}
    </div>
    <script>
        hasNotShown = true
        document.querySelectorAll(".store-collapse").forEach((el, index) => {
            console.log('EACH ' + el.id);
            if (localStorage.getItem("coll_" + el.id) === "true") {
                console.log('INIT SHOW '+ el.id);
                new bootstrap.Collapse(el).show()
                hasNotShown = false
            }
        });
        if (hasNotShown) {
          new bootstrap.Collapse(document.querySelector(".store-collapse")).show()
        }

        document.querySelectorAll(".store-collapse").forEach(function (el) {
            el.addEventListener("shown.bs.collapse", function () {
                localStorage.setItem("coll_" + el.id, true);
                console.log('SHOW ' + el.id + "$");
            })
        });
        document.querySelectorAll(".store-collapse").forEach(function (el) {
            el.addEventListener("hidden.bs.collapse", function () {
                localStorage.setItem("coll_" + el.id, false);
                console.log('HIDE '+ el.id + "$");
            })
        });

        document.querySelectorAll("#accordionExample > div > h2 > button > a").forEach(function (e) {
            e.addEventListener("click", function (e1) {
                window.open(e1.target.href);
                e1.stopPropagation();
                // OR
                e1.preventDefault();            
            })
        })
    </script>
</body>
</html>