{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "index_style.html" %}
</head>
<body>
    <div class="container">
        <h1>PMS Index</h1>
        <hr>
        <h4>Barcode Index</h4>
        {% include "index_block_barcode.html" %}
        <h4>Dashboards Index</h4>
        {% include "index_block_dashboard.html" %}
        <h4>Production Query Index</h4>
        {% include "index_block_production_query.html" %}
        {% comment %}
        <div>
            <h4><a href="{% url 'query_tracking:query-tracking' %}">Query Time</a></h4><br>
            <div>-/-</div>
        </div>
        {% endcomment %}
    </div>
</body>
</html>