<style>
    a:link {
        /* black */
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        /* no change */
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        /* grey */
        color: rgb(175, 175, 175);
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        /* when clicked on */
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-decoration: underline;
    }
</style>