{% extends "viewer/layout.html" %}
{% block title %}Bypass Log{% endblock %}
{% block content %}
<h1>Bypass Log</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Station</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in log %}
      <tr>
        <td>{{ entry.0 }}</td>
        <td>{{ entry.1 }}</td>
        <td>{{ entry.2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
