{% extends "viewer/layout.html" %}

{% block title %}Production{% endblock %}

{% block content %}
<h2 class='text-center'>Auto Gauge Hourly Production</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover" id="today-table">
    <thead class="thead-light">
      <tr>
        <th>Today</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for shift in today_hourly %}
      <tr>
        <th>
          {% if forloop.counter == 1 %}
          Midnights
          {% elif forloop.counter == 2 %}
          Days
          {% elif forloop.counter == 3 %}
          Afternoons
          {% endif %}
        </th>
        {% for hour in shift %}
        <td>{{ hour }}</td>
        {% endfor %}
        <td class="total-cell"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover" id="yesterday-table">
    <thead class="thead-light">
      <tr>
        <th>Yesterday</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for shift in prev_hourly %}
      <tr>
        <th>
          {% if forloop.counter == 1 %}
          Midnights
          {% elif forloop.counter == 2 %}
          Days
          {% elif forloop.counter == 3 %}
          Afternoons
          {% endif %}
        </th>
        {% for hour in shift %}
        <td>{{ hour }}</td>
        {% endfor %}
        <td class="total-cell"></td> <!-- TODO: Calculate totals on the backend -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function calculateTotals(tableId) {
    const table = document.getElementById(tableId);
    const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

    for (let row of rows) {
      let total = 0;
      const cells = row.getElementsByTagName('td');
      for (let i = 0; i < cells.length - 1; i++) {
        const cellValue = parseInt(cells[i].innerText) || 0;
        total += cellValue;
      }
      cells[cells.length - 1].innerText = total;
    }
  }

  calculateTotals('today-table');
  calculateTotals('yesterday-table');
</script>
{% endblock %}
