{% extends "viewer/layout.html" %}

{% block title %}Production{% endblock %}

{% block content %}
<h2 class='text-center'>Auto Gauge Hourly Production</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Today</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>Total</th>
      </tr>
    </thead>
    {% for shift in today_hourly %}
    <tr>
      <th>
        {% if forloop.counter == 1 %}
        Midnights
        {% elif forloop.counter == 2 %}
        Days
        {% elif forloop.counter == 3 %}
        Afternoons
        {% endif %}
      </th>
      {% for hour in shift %}
      <td>{{ hour }}</td>
      {% endfor %}
      <td>{{ today_totals|slice:forloop.counter0 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Yesterday</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>Total</th>
      </tr>
    </thead>
    {% for shift in prev_hourly %}
    <tr>
      <th>
        {% if forloop.counter == 1 %}
        Midnights
        {% elif forloop.counter == 2 %}
        Days
        {% elif forloop.counter == 3 %}
        Afternoons
        {% endif %}
      </th>
      {% for hour in shift %}
      <td>{{ hour }}</td>
      {% endfor %}
      <td>{{ prev_totals|slice:forloop.counter0 }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
