{% extends "viewer/layout.html" %}

{% block title %}Red Rabbit Status{% endblock %}

{% block main_content %}
<h2>Red Rabbit Status:</h2>
{% for station in data %}
  <h3>Station {{ station.0.1 }}:</h3>
  <p>Last ran {{ station.0.0 }} ({{ station.0.1 }})</p>
  {% for rabbit in station.1 %}
    <button class="btn {% if rabbit.status.0 %}btn-danger{% else %}btn-success{% endif %}">
      {{ rabbit.name }}{% if rabbit.status.0 %}: Bypassed {{ rabbit.status.1 }}{% endif %}
    </button>
  {% endfor %}
{% endfor %}
{% endblock %}
