django
uwsgi
django-environ
django-cors-headers
django-widget-tweaks
django-bootstrap5
django-debug-toolbar
mysqlclient
whitenoise
django-bootstrap-datepicker-plus

# added to allow access to legacy db (mysql5.5)
mysql-connector-python 
