<style>
    h1 {
        text-align: center;
        margin-top: 10px;
    }
    h5 {
        text-align: center;
    }
    .accordion-button {
        background-color: #efefef;
    }
    :focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    #main-heading:hover {
        font-weight: bolder;
    }
    #main-heading {
        text-decoration: underline;
        text-underline-offset: 12px;
        text-decoration-thickness: 3px;
        line-height: 100%;
    }
</style>