{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "base_styles.html" %}
    <!-- Additional CSS -->
    {% block extra_styles %}
    {% endblock %}
</head>
<body>
    <nav class="navbar bg-body-tertiary border-bottom border-5 mb-3">
        <div class="container-fluid px-5 justify-content-center">
            <a class="navbar-brand align-items-center fs-1" href="{% url 'pms_index'%}">{{main_heading}}</a>
        </div>
    </nav>
    <div class="container mb-4">
        <h5>{{subheading}}</h1>
        {% block content %}
        {% endblock %}
    </div>
    <!-- Optional Javascript -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>