<style>
    a {
        color: black;
    }
    h1 {
        padding-top: 10px;
    }
    .item {
        /*
        background-color: #f2f1f1;
        border: solid;
        border-radius: 5px;
        margin-top: 5px;
        */
    }
    .link {
        /*
        background-color: white;
        display: block;
        padding: 10px;
        padding-left: 5px;
        */
    }
    .description {
        /*
        border-top: solid;
        padding: 10px;
        padding-left: 5px;
        */
    }
    .nested {
        margin: 10px;
    }
    .subsubheading {
        font-size: larger;
    }
    .accordion-button.collapsed {
        /* background: #b0aea9; */
    }
    .accordion-header > a {
        font-weight: normal;
    }
    .accordion-item:last-child > div > .accordion-body > ul > li:last-child {
        border-radius: 5px;
    }
    body >  nav > div > a {
        text-decoration: none;
    }
    body {
        /* background: #97a5b1; */
    }
    .accordion-header:not(collapsed) {
        /* background: #b0aea9; */
    }
    .accordion-header {
        /* background: #b0aea9; */
    }
    .accordion-item > div > div > ul > li {
        /* background: #d5d5d5; */
    }
    nav {
        /* background: #b0aea9; */
    }
</style>