<div>
    <div>
        <a href="{% url 'barcode:duplicate-scan' %}">Duplicate Scan</a>
        <div>-/-</div>
    </div>
    <div>
        <a href="{% url 'barcode:duplicate-scan-check'%}">Duplicate Scan Check</a>
        <div>-/-</div>
    </div>
    <div>
        <a href="{% url 'barcode:duplicate_scan_batch'%}">Duplicate Scan Batch</a>
        <div>-/-</div>
    </div>
{% comment %} 
    <div>
        <a href="{% url 'barcode:gfx-scan' %}">GFX Duplicate Scan</a>
        <div>Scan individual barcode.</div>
    </div>
    <div>
        <a href="{% url 'barcode:gfx-batch'%}">GFX Duplicate Scan Check</a>
        <div>Check if barcode code is good.</div>
    </div>
    <div>
        <a href="{% url 'barcode:gfx-check'%}">GFX Duplicate Scan Batch</a>
        <div>Scan multiple barcodes.</div>
    </div>
    <div>
        <a href="{% url 'barcode:query'%}">Query</a>
        <div>-/-</div>
    </div>
    <div>
        <a href="{% url 'barcode:laser_count'%}">Laser Count</a>
        <div>-/-</div>
    </div>
{% endcomment %}
</div>