{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "index_style.html" %}
</head>
<body>
    <div class="container">
        <h1>{{main_heading}}</h1>
        <hr>
        <div class="accordion mb-4" id="pmsIndexAccordion">
            {% if app_infos %}
                {% for app in app_infos %}
                <div class="accordion-item">
                    <h2 class="accordion-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                        <a class="link" href="#">{{ app.name }}</a>
                    </h2>
                    <div id="collapse{{forloop.counter}}" class="store-collapse accordion-collapse collapse" data-bs-parent="#pmsIndexAccordion">
                        <div class="accordion-body">
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No apps available.</p>
            {% endif %}
        </div>
    </div>
    <script>
        console.log("Accordion script loaded");
        document.querySelectorAll(".accordion-header").forEach(function (header) {
            header.addEventListener("click", function () {
                console.log("Accordion header clicked:", header);
                header.classList.toggle("collapsed");
                const target = header.getAttribute("data-bs-target");
                const collapseElement = document.querySelector(target);
                collapseElement.classList.toggle("show");
            });
        });
    </script>
</body>
</html>
