<style>
    a {
        color: black;
    }
    h1 {
        padding-top: 10px;
    }
    .item {
        /*
        background-color: #f2f1f1;
        border: solid;
        border-radius: 5px;
        margin-top: 5px;
        */
    }
    .link {
        /*
        background-color: white;
        display: block;
        padding: 10px;
        padding-left: 5px;
        */
    }
    .description {
        /*
        border-top: solid;
        padding: 10px;
        padding-left: 5px; 
        */
    }
    .nested {
        margin: 10px;
    }
    .subsubheading {
        font-size: larger;
    }
    .accordion-item {
        outline: grey solid 1px;
    }
    .accordion-body {
        border-top: grey solid 1px;
    }
    .accordion-button.collapsed, .accordion-button:not(.collapsed){
        box-shadow: none;
    }
    .accordion-header > a {
        font-weight: normal;
    }
    .accordion-item:last-child > div > .accordion-body > ul > li:last-child {
        border-radius: 5px;
    }
</style>