<div>
    <div>
        <a href="{% url 'dashboards:1467' %}">1467</a><br>
        <div>-/-</div>
    </div>
    <div>
        <a href="{% url 'dashboards:ab1v'%}">8670</a><br>
        <div>-/-</div>
    </div>
    <div>
        <a href="{% url 'dashboards:trilobe'%}">Trilobe</a>
        <div>-/-</div>
    </div>
    <div>9341
        <div>-/-</div>
        <div>
            <div>
                <a href="{% url 'dashboards:9341'%}">Desk</a><br>
                <div>-/-</div>
            </div>
            <div>
                <a href="{% url 'dashboards:track9341_TV'%}">TV</a><br>
                <div>-/-</div>
            </div>
            <div>
                <a href="{% url 'dashboards:track9341_mobile'%}">Mobile</a>   
                <div>-/-</div>
            </div>                        
        </div>
    </div>
</div>