{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "index_style.html" %}
</head>
<body>
    <div class="container">
        <h1>{{main_heading}}</h1>
        <hr>
        <div class="accordion mb-4" id="pmsIndexAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <a class="link" data-bs-toggle="collapse" data-bs-target href="{% url 'barcode:barcode_index'%}">Barcode Index</a>
                </h2>
                <div id="collapseOne" class="store-collapse accordion-collapse collapse" data-bs-parent="#pmsIndexAccordion" style="">
                    <div class="accordion-body p-0">
                        {% include "barcode/index_block_barcode.html" %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <a class="link" data-bs-toggle="collapse" data-bs-target href="{% url 'dashboards:dashboard_index'%}">Dashboard Index</a>
                </h2>
                <div id="collapseTwo" class="store-collapse accordion-collapse collapse" data-bs-parent="#pmsIndexAccordion" style="">
                    <div class="accordion-body p-0">
                        {% include "dashboards/index_block_dashboard.html" %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <a class="link" data-bs-toggle="collapse" data-bs-target href="{% url 'prod_query:prod-query_index'%}">Production Query Index</a>
                </h2>
                <div id="collapseThree" class="store-collapse accordion-collapse collapse" data-bs-parent="#pmsIndexAccordion" style="">
                    <div class="accordion-body p-0">
                        {% include "prod_query/index_block_production_query.html" %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <a class="link" data-bs-toggle="collapse" data-bs-target href="{% url 'part_for_machine:part_for_machine'%}">Part for Machine</a>
                </h2>
                <div id="collapseFour" class="store-collapse accordion-collapse collapse" data-bs-parent="#pmsIndexAccordion" style="">
                    <div class="accordion-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action p-4">
                                <a class="link" href="{% url 'part_for_machine:part_for_machine' %}">Part for Machine</a>
                                <div class="description">Set or set the part current produced by a machine. View or set parts produced in the past.</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}
        <div>
            <h4><a href="{% url 'query_tracking:query-tracking' %}">Query Time</a></h4><br>
            <div>-/-</div>
        </div>
        {% endcomment %}
    </div>
    <script>
        hasNotShown = true;
        headings = document.querySelectorAll(".accordion-header")
        collapsables = document.querySelectorAll(".store-collapse")
        collapsables.forEach((el, index) => {
            console.log('EACH ' + el.id);
            if (localStorage.getItem("coll_" + el.id) === "true") {
                console.log('INIT SHOW '+ el.id);
                new bootstrap.Collapse(el).show()
                hasNotShown = false;
                el.scrollIntoView(true);
            }
        });
        if (hasNotShown) {
          new bootstrap.Collapse(collapsables[0]).show()
        }

        collapsables.forEach(function (el) {
            el.addEventListener("shown.bs.collapse", function (event) {
                if (event.target !== headings.item[0]) {
                    event.target.parentNode.scrollIntoView(true);
                }
                localStorage.setItem("coll_" + el.id, true);
                console.log('SHOW ' + el.id + "$");
            })
        });
        collapsables.forEach(function (el) {
            el.addEventListener("hidden.bs.collapse", function () {
                localStorage.setItem("coll_" + el.id, false);
                console.log('HIDE '+ el.id + "$");
            })
        });

        document.querySelectorAll("#pmsIndexAccordion > div > h2 > a").forEach(function (e) {
            e.addEventListener("click", function (e1) {
                e1.stopPropagation();
                location.href = e1.target.href;
            })
        })
    </script>
</body>
</html>