<style>
    #report-table {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 3px solid rgb(108, 117, 125);
    }
    td, th {
        text-align: center;
    }
    #hiddendate_form > table > thead > tr:nth-child(1) > th > button:nth-child(1) {
        margin: 3px;
    }


    /* Applied through javascript */
    .part_cell {
        white-space: nowrap;
        border-right: 1px black solid !important;
    }
    .predicted_cell {
        white-space: nowrap;
        border-right: 1px #dee2e6 solid !important;
        border-left: 1px #dee2e6 solid !important;
    }
    .summary_start_cell {
        border-left: 1px black solid !important;
    }
    .date {
        border-left: 1px black solid !important;
    }
    .shift-mid {
        border-left: 1px black solid !important;
        border-bottom: 3px solid rgb(108, 117, 125) !important;
    }
    .shift-day {
        border-right: 1px #dee2e6 solid !important;
        border-left: 1px #dee2e6 solid !important;
        border-bottom: 3px solid rgb(108, 117, 125) !important;
    }
    .shift-aft {
        border-bottom: 3px solid rgb(108, 117, 125) !important;
    }
    #pred_final {
        border-right: 1px #dee2e6 solid !important;
        border-left: 1px #dee2e6 solid !important;
    }
    .black {
        color: black;
    }
    .red {
        color: red !important;
    }
</style>