<style>
    table {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    td, th {
        text-align: center;
    }
    td {
        padding: 3px;
        margin: 3px;
    }
    th {
        padding: 3px;
    }
    .part_cell {
        white-space: nowrap;
    }
    .black {
        color: black;
    }
    .red {
        color: red !important;
    }
    table {
        border-bottom: 2.66667px !important;
    }
    #hiddendate_form > table > thead > tr:nth-child(1) > th > button:nth-child(1) {
        margin: 3px;
    }
</style>