{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #2a2a2a;
            color: white;
        }
        .navbar-custom a {
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'display_setups' %}">Press Changeover Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'display_assets' %}">Assets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'display_parts' %}">Parts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
