
{% extends 'base.html' %}

{% block title %}
Asset Records
{% endblock %}

{% block content %}
{% load static %}
<h1 class="mt-5">Asset Records</h1>
<a href="{% url 'create_asset' %}" class="btn btn-primary mb-3">Add New Asset</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Asset Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.id }}</td>
            <td>{{ asset.asset_number }}</td>
            <td>
                <a href="{% url 'edit_asset' asset.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_asset' asset.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
