{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>

    <title>{{ title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra_styles %}
    {% endblock %}
</head>

<body>
    <div class="partformachine-container">
        <div class="col-12 mt-1">
            <h1 id="main-heading" class="fw-bolder text-center"><a href="{% url 'pms_index' %}">{{main_heading}}</a></h1>
        </div>
        <div class="col-12">
            <hr>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block extra_js %}
    {% endblock %}
</body>
