<div id="table10R80Offline" class="hidden dashboard-table">
    <div class="dashboard-table-heading dashboard-border">
        OffLine
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1518" line="10r80offline" part=data.10r80offline.1518 %}
        {% include "part_for_machine/asset_block.html" with asset="1521" line="10r80offline" part=data.10r80offline.1521 %}
        {% include "part_for_machine/asset_block.html" with asset="1522" line="10r80offline" part=data.10r80offline.1522 %}
        {% include "part_for_machine/asset_block.html" with asset="1523" line="10r80offline" part=data.10r80offline.1523 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1539" line="10r80offline" part=data.10r80offline.1539 %}
        {% include "part_for_machine/asset_block.html" with asset="1540" line="10r80offline" part=data.10r80offline.1540 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1524" line="10r80offline" part=data.10r80offline.1524 %}
        {% include "part_for_machine/asset_block.html" with asset="1525" line="10r80offline" part=data.10r80offline.1525 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1538" line="10r80offline" part=data.10r80offline.1538 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1541" line="10r80offline" part=data.10r80offline.1541 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1531" line="10r80offline" part=data.10r80offline.1531 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1527" line="10r80offline" part=data.10r80offline.1527 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1513" line="10r80offline" part=data.10r80offline.1513 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP100</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1530" line="10r80offline" part=data.10r80offline.1530 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP110</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1528" line="10r80offline" part=data.10r80offline.1528 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Final</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1533" line="10r80offline" part=data.10r80offline.1533 %}
    </div>
</div>