<div id="table10R80Mainline" class="hidden partmachine-table partmachine-border">
    <div class="partmachine-table-heading partmachine-border">
        10R80 Mainline
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1504" line="10r80mainline" part=data.10r80mainline.1504 %}
        {% include "part_for_machine/asset_block.html" with asset="1506" line="10r80mainline" part=data.10r80mainline.1506 %}
        {% include "part_for_machine/asset_block.html" with asset="1519" line="10r80mainline" part=data.10r80mainline.1519 %}
        {% include "part_for_machine/asset_block.html" with asset="1520" line="10r80mainline" part=data.10r80mainline.1520 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1502" line="10r80mainline" part=data.10r80mainline.1502 %}
        {% include "part_for_machine/asset_block.html" with asset="1507" line="10r80mainline" part=data.10r80mainline.1507 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1501" line="10r80mainline" part=data.10r80mainline.1501 %}
        {% include "part_for_machine/asset_block.html" with asset="1515" line="10r80mainline" part=data.10r80mainline.1515 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1508" line="10r80mainline" part=data.10r80mainline.1508 %}
        {% include "part_for_machine/asset_block.html" with asset="1532" line="10r80mainline" part=data.10r80mainline.1532 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1509" line="10r80mainline" part=data.10r80mainline.1509 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1514" line="10r80mainline" part=data.10r80mainline.1514 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1510" line="10r80mainline" part=data.10r80mainline.1510 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1513" line="10r80mainline" part=data.10r80mainline.1513 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP100</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1503" line="10r80mainline" part=data.10r80mainline.1503 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP110</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1511" line="10r80mainline" part=data.10r80mainline.1511 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Final</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1533" line="10r80mainline" part=data.10r80mainline.1533 %}
    </div>
</div>
