<div id="tableTrilobe" class="hidden partmachine-table partmachine-border">
    <div class="partmachine-table-heading partmachine-border">
        Trilobe
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Broach</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="573" line="trilobe" part=data.trilobe.573 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Heat</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="728" line="trilobe" part=data.trilobe.728 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Machine</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="644" line="trilobe" part=data.trilobe.644 %}
        {% include "part_for_machine/asset_block.html" with asset="645" line="trilobe" part=data.trilobe.645 %}
        {% include "part_for_machine/asset_block.html" with asset="646" line="trilobe" part=data.trilobe.646 %}
        {% include "part_for_machine/asset_block.html" with asset="647" line="trilobe" part=data.trilobe.647 %}
        {% include "part_for_machine/asset_block.html" with asset="648" line="trilobe" part=data.trilobe.648 %}
        {% include "part_for_machine/asset_block.html" with asset="649" line="trilobe" part=data.trilobe.649 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Slurry</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="650" line="trilobe" part=data.trilobe.650 %}
    </div>
</div>
