<div id="tableAB1VRx" class="hidden dashboard-table">
    <div class="dashboard-border dashboard-table-heading">
        AB1V Rx
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1703L" line="ab1vrx" part=data.ab1vrx.1703l %}
        {% include "part_for_machine/asset_block.html" with asset="1740L" line="ab1vrx" part=data.ab1vrx.1740l %}
        {% include "part_for_machine/asset_block.html" with asset="658" line="ab1vrx" part=data.ab1vrx.658 %}
        {% include "part_for_machine/asset_block.html" with asset="661" line="ab1vrx" part=data.ab1vrx.661 %}
        {% include "part_for_machine/asset_block.html" with asset="662" line="ab1vrx" part=data.ab1vrx.662 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP20/30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1703R" line="ab1vrx" part=data.ab1vrx.1703r %}
        {% include "part_for_machine/asset_block.html" with asset="1704R" line="ab1vrx" part=data.ab1vrx.1704r %}
        {% include "part_for_machine/asset_block.html" with asset="616" line="ab1vrx" part=data.ab1vrx.616 %}
        {% include "part_for_machine/asset_block.html" with asset="623" line="ab1vrx" part=data.ab1vrx.623 %}
        {% include "part_for_machine/asset_block.html" with asset="617" line="ab1vrx" part=data.ab1vrx.617 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1727" line="ab1vrx" part=data.ab1vrx.1727 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="659" line="ab1vrx" part=data.ab1vrx.659 %}
        {% include "part_for_machine/asset_block.html" with asset="626" line="ab1vrx" part=data.ab1vrx.626 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1712" line="ab1vrx" part=data.ab1vrx.1712 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1716L" line="ab1vrx" part=data.ab1vrx.1716l %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1719" line="ab1vrx" part=data.ab1vrx.1719 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1723" line="ab1vrx" part=data.ab1vrx.1723 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Laser</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1724" line="ab1vrx" part=data.ab1vrx.1724 %}
        {% include "part_for_machine/asset_block.html" with asset="1725" line="ab1vrx" part=data.ab1vrx.1725 %}
        {% include "part_for_machine/asset_block.html" with asset="1750" line="ab1vrx" part=data.ab1vrx.1750 %}
    </div>
</div>
