{% extends "prod_query/base.html" %}

{% block extra_styles %}
<style>
    /* the css in this block is shared between cell_track_trilobe and cell_track_9341, it should be used in dashboards meant to be stylistically consistent with them and with a layout of multiple tables and no common header */
    /* specify dashboard-table-row-asset-number, dashboard-table-row-asset-count, dashboard-common_heading, dashboard-table-heading according to the resuling size of the container in the form of min([ratio height] vh, [ratio width] vw) */
    /* if tables are too long, override ".dashboard-table-row" height */
    body {
        /* blue-ish grey */
        /* background-color: rgb(151, 165, 177); */
    }
    .dashboard {
        /* percentage of viewport width/height */
        margin-top: 1vh;

        /* centers dashboard */
        display: flex;
        justify-content: center;
    }
    .dashboard-table {
        flex: 1 1 0;
        text-align: center;
        margin-bottom: 1vh;
    }
    .dashboard-table-heading {
        text-align: center;
        height: 5vh;

        /* a warm grey */
        background-color:#D5D5D5;

        /* lower levels of zoom aren't distinctive enough, higher levels are too blocky, max is 900 */
        font-weight: 700;

        /* when equivalent to height/font-size, reduces extra space below text */
        line-height: 5vh;

        /* keeps text from overflowing container at different resolutions, ratio is according to the size of the container in each direction */
        font-size: min(2.25vh, 1.175vw);

        /* prevents bottom border doubling */
        transform: translate(0.01vh);
    }
    .dashboard-table-row {
        display: flex;
        height: 8vh;
    }
    .dashboard-table-row-operation {
        /* grey */
        background-color:#b0aea9;

        /* sets to fixed width, not taking other flex elements into account, will still grow if overfilled */
        flex: 0 0 5.5vw;

        /* keeps cell text vertically centered when resized */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .dashboard-table-row-asset {
        display: flex;
        justify-content: center;
        flex-direction: column;

        /* all items in div same size (https://stackoverflow.com/a/29503264) */
        flex: 1 1 0vw;
    }
    .dashboard-table-row-asset-number {
        font-size: min(2.25vh, 1.175vw);

        /* keeps number/row together at different resolutions */
        vertical-align: bottom;

        /* visually distinct bold level for number/count */
        font-weight: 625;

        /* when equivalent to height/font-size, reduces extra space below text, reducing gap between number/count */
        line-height: min(2.25vh, 1.175vw);
    }
    .dashboard-table-row-asset-count {
        vertical-align: top;
        font-weight: 400;
        font-size: min(1.9vh, 0.95vw);
    }
    .dashboard-spacer {
        width: 1vw;
    }
    .dashboard-border {
        /* prevents doubled border without side effects of negative margin */
        outline: 0.05vh solid gray;
    }
    @media (orientation: portrait) {
        html {
            transform: rotate(-90deg);
            transform-origin: left top;
            width: 100vh;
            height: 100vw;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: 0;
        }
        .dashboard {
            margin-top: 1vw;
        }
        .dashboard-table {
            margin-bottom: 1vw;
            width: 24vh;
        }
        .dashboard-table-heading {
            height: 5vw;
            line-height: 5vw;
            font-size: min(2.25vw, 1.175vh);
            margin-bottom: 0.1vw;
        }
        .dashboard-table-row {
            height: 8vw;
        }
        .dashboard-table-row-operation {
            flex: 0 0 5.5vh;
        }
        .dashboard-table-row-asset {
            flex: 1 1 0vh;
            padding-top: 1vw;
            padding-bottom: 1vw;
        }
        .dashboard-table-row-asset-number {
            font-size: min(2.25vw, 1.175vh);
        }
        .dashboard-table-row-asset-count {
            font-size: min(1.9vw, 0.95vh);
        }
        .dashboard-spacer {
            margin-bottom: 1vw;
            width: 1vh;
        }
        .dashboard-border {
            outline: 0.05vw solid gray;
        }
    }
</style>
<style>
    .hidden {
        display: none
    }
    .selector-button {
        display: block;
    }
    .partformachine-btn {
        border-radius: 0 !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div>
            <form id="date_form" action="" method="POST">
                {% csrf_token %}
                {{page_datetime_form.page_datetime.label_tag}}
                {{page_datetime_form.page_datetime}}
                <button class="btn btn-outline-secondary" type="submit" name="specific">Set to specfic week</button>
            </form>
            <button id="btnAB1VRx"class="btn btn-primary selector-button">AB1V Reaction</button>
            <button id="btnAB1VOd"class="btn btn-primary selector-button">AB1V Overdrive</button>
            <button id="btnAB1VIn"class="btn btn-primary selector-button">AB1V Input</button>
            <button id="btn10R140Rear"class="btn btn-primary selector-button">10R140 Rear</button>
            <button id="btnTrilobeSinter"class="btn btn-primary selector-button">Trilobe Sinter</button>
            <button id="btnTrilobeOptimized"class="btn btn-primary selector-button">Trilobe Optimized</button>
            <button id="btnTrilobe"class="btn btn-primary selector-button">Trilobe</button>
            <button id="btnTrilobeOffline"class="btn btn-primary selector-button">Trilobe Offline</button>
            <button id="btn10R80Mainline"class="btn btn-primary selector-button">10R80 Mainline</button>
            <button id="btn10R80Offline"class="btn btn-primary selector-button">10R80 Offline</button>
            <button id="btn10R80Uplift"class="btn btn-primary selector-button">10R80 Uplift</button>
            <button id="btn10R60"class="btn btn-primary selector-button">10R60</button>
        </div>
        <div id="table-holder" class="w-100">
            {% include "part_for_machine/part_for_machine_table_ab1vrx.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_ab1vod.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_ab1vin.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_10r140rear.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_trilobesinter.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_trilobeoptimized.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_trilobeoffline.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_trilobe.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_10r80uplift.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_10r80offline.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_10r80mainline.html" with data=data %}
            {% include "part_for_machine/part_for_machine_table_10r60.html" with data=data %}
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="event_form" action="" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{event_form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-outline-secondary" type="submit" name="event">Set part</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% include "part_for_machine/part_for_machine_script.html" %}
{% endblock %}