<div id="tableTrilobeOptimized" class="hidden dashboard-table">
    <div class="dashboard-table-heading dashboard-border">
        Trilobe Optimized
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Broach</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="784" line="trilobeoptimized" part=data.trilobeoptimized.784 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Heat</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="770" line="trilobeoptimized" part=data.trilobeoptimized.770 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Machine</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="618" line="trilobeoptimized" part=data.trilobeoptimized.618 %}
        {% include "part_for_machine/asset_block.html" with asset="575" line="trilobeoptimized" part=data.trilobeoptimized.755 %}
        {% include "part_for_machine/asset_block.html" with asset="624" line="trilobeoptimized" part=data.trilobeoptimized.769 %}
        {% include "part_for_machine/asset_block.html" with asset="619" line="trilobeoptimized" part=data.trilobeoptimized.624 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Slurry</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="769" line="trilobeoptimized" part=data.trilobeoptimized.619 %}
    </div>
</div>
