<div id="table10R80Uplift" class="hidden dashboard-table">
        <div class="dashboard-table-heading dashboard-border">
            Uplift
        </div>
        <div class="dashboard-table-row dashboard-placeholder">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP10</div>
            </div>
            <div class="dashboard-table-row-asset dashboard-border" >
                <div class="dashboard-table-row-asset-number" style="visibility: hidden;">Placeholder</div>
                <div class="dashboard-table-row-asset-count asset-count" style="visibility: hidden;">Placeholder</div>
            </div>
        </div> <!-- Placeholder -->
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP30</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1546" line="10r80uplift" part=data.10r80uplift.1546 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP40</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1547" line="10r80uplift" part=data.10r80uplift.1547 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP50</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1548" line="10r80uplift" part=data.10r80uplift.1548 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP60</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1549" line="10r80uplift" part=data.10r80uplift.1549 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP70</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="594" line="10r80uplift" part=data.10r80uplift.594 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP80</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1550" line="10r80uplift" part=data.10r80uplift.1550 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP90</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1552" line="10r80uplift" part=data.10r80uplift.1552 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP100</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="751" line="10r80uplift" part=data.10r80uplift.751 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">OP110</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1554" line="10r80uplift" part=data.10r80uplift.1554 %}
        </div>
        <div class="dashboard-table-row">
            <div class="dashboard-table-row-operation dashboard-border">
                <div class="dashboard-table-row-asset-number">Final</div>
            </div>
            {% include "part_for_machine/asset_block.html" with asset="1533" line="10r80uplift" part=data.10r80uplift.1533 %}
        </div>
</div>