<div id="tableAB1VOd" class="hidden dashboard-table">
    <div class="dashboard-border dashboard-table-heading">
        AB1V Overdrive
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP20</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1705" line="ab1vod" part=data.ab1vod.1705 %}
        {% include "part_for_machine/asset_block.html" with asset="1746" line="ab1vod" part=data.ab1vod.1746 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP25</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="621" line="ab1vod" part=data.ab1vod.621 %}
        {% include "part_for_machine/asset_block.html" with asset="629" line="ab1vod" part=data.ab1vod.629 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="785" line="ab1vod" part=data.ab1vod.785 %}
        {% include "part_for_machine/asset_block.html" with asset="1748" line="ab1vod" part=data.ab1vod.1748 %}
        {% include "part_for_machine/asset_block.html" with asset="1718" line="ab1vod" part=data.ab1vod.1718 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP35</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="669" line="ab1vod" part=data.ab1vod.669 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1726" line="ab1vod" part=data.ab1vod.1726 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1722" line="ab1vod" part=data.ab1vod.1722 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1713" line="ab1vod" part=data.ab1vod.1713 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1716r" line="ab1vod" part=data.ab1vod.1716r %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1719" line="ab1vod" part=data.ab1vod.1719 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1723" line="ab1vod" part=data.ab1vod.1723 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Laser</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1724" line="ab1vod" part=data.ab1vod.1724 %}
        {% include "part_for_machine/asset_block.html" with asset="1725" line="ab1vod" part=data.ab1vod.1725 %}
        {% include "part_for_machine/asset_block.html" with asset="1750" line="ab1vod" part=data.ab1vod.1750 %}
    </div>
</div>
