<div id="table10R140Rear" class="hidden partmachine-table partmachine-border">
    <div class="partmachine-table-heading partmachine-border">
        10R140 Rear
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1708L" line="10r140rear" part=data.10r140rear.1708l %}
        {% include "part_for_machine/asset_block.html" with asset="1708R" line="10r140rear" part=data.10r140rear.1708r %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP20</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1709" line="10r140rear" part=data.10r140rear.1709 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1710" line="10r140rear" part=data.10r140rear.1710 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1711" line="10r140rear" part=data.10r140rear.1711 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1715" line="10r140rear" part=data.10r140rear.1715 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1717R" line="10r140rear" part=data.10r140rear.1717r %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1706" line="10r140rear" part=data.10r140rear.1706 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1720" line="10r140rear" part=data.10r140rear.1720 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="677" line="10r140rear" part=data.10r140rear.677 %}
        {% include "part_for_machine/asset_block.html" with asset="748" line="10r140rear" part=data.10r140rear.748 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">OP100</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1723" line="10r140rear" part=data.10r140rear.1723 %}
    </div>
    <div class="partmachine-table-row">
        <div class="partmachine-table-row-operation">
            <div class="partmachine-table-row-asset-number">Laser</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1725" line="10r140rear" part=data.10r140rear.1725 %}
    </div>
</div>
