<div id="table10R60" class="hidden dashboard-table">
    <div class="dashboard-table-heading dashboard-border">
        Mainline
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1800" line="10r60mainline" part=data.10r60mainline.1800 %}
        {% include "part_for_machine/asset_block.html" with asset="1801" line="10r60mainline" part=data.10r60mainline.1801 %}
        {% include "part_for_machine/asset_block.html" with asset="1802" line="10r60mainline" part=data.10r60mainline.1802 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP30</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1529" line="10r60mainline" part=data.10r60mainline.1529 %}
        {% include "part_for_machine/asset_block.html" with asset="776" line="10r60mainline" part=data.10r60mainline.776 %}
        {% include "part_for_machine/asset_block.html" with asset="1824" line="10r60mainline" part=data.10r60mainline.1824 %}
        {% include "part_for_machine/asset_block.html" with asset="1543" line="10r60mainline" part=data.10r60mainline.1543 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1804" line="10r60mainline" part=data.10r60mainline.1804 %}
        {% include "part_for_machine/asset_block.html" with asset="1805" line="10r60mainline" part=data.10r60mainline.1805 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1806" line="10r60mainline" part=data.10r60mainline.1806 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1808" line="10r60mainline" part=data.10r60mainline.1808 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1810" line="10r60mainline" part=data.10r60mainline.1810 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1815" line="10r60mainline" part=data.10r60mainline.1815 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1542" line="10r60mainline" part=data.10r60mainline.1542 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP100</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1812" line="10r60mainline" part=data.10r60mainline.1812 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP110</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1813" line="10r60mainline" part=data.10r60mainline.1813 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Final</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1816" line="10r60mainline" part=data.10r60mainline.1816 %}
    </div>
</div>