<div id="tableTrilobeSinter" class="hidden dashboard-table">
    <div class="dashboard-table-heading dashboard-border">
        Trilobe Sinter
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Compact</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="262" line="trilobesinter" part=data.trilobesinter.262 %}
        {% include "part_for_machine/asset_block.html" with asset="263" line="trilobesinter" part=data.trilobesinter.263 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Assemb</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="859" line="trilobesinter" part=data.trilobesinter.859 %}
    </div>
</div>
