<div id="tableAB1VIn" class="hidden dashboard-table">
    <div class="dashboard-border dashboard-table-heading">
        AB1V Input
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP10</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1740L" line="ab1vinput" part=data.ab1vinput.1740l %}
        {% include "part_for_machine/asset_block.html" with asset="1740R" line="ab1vinput" part=data.ab1vinput.1740r %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP40</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1701L" line="ab1vinput" part=data.ab1vinput.1701l %}
        {% include "part_for_machine/asset_block.html" with asset="1701R" line="ab1vinput" part=data.ab1vinput.1701r %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP50</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="733" line="ab1vinput" part=data.ab1vinput.733 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP60</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="775" line="ab1vinput" part=data.ab1vinput.775 %}
        {% include "part_for_machine/asset_block.html" with asset="1702" line="ab1vinput" part=data.ab1vinput.1702 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP70</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="581" line="ab1vinput" part=data.ab1vinput.581 %}
        {% include "part_for_machine/asset_block.html" with asset="788" line="ab1vinput" part=data.ab1vinput.788 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP80</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1714" line="ab1vinput" part=data.ab1vinput.1714 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP90</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1717L" line="ab1vinput" part=data.ab1vinput.1717l %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP100</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1706" line="ab1vinput" part=data.ab1vinput.1706 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">OP110</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1723" line="ab1vinput" part=data.ab1vinput.1723 %}
    </div>
    <div class="dashboard-table-row">
        <div class="dashboard-table-row-operation dashboard-border">
            <div class="dashboard-table-row-asset-number">Laser</div>
        </div>
        {% include "part_for_machine/asset_block.html" with asset="1724" line="ab1vinput" part=data.ab1vinput.1724 %}
        {% include "part_for_machine/asset_block.html" with asset="1725" line="ab1vinput" part=data.ab1vinput.1725 %}
        {% include "part_for_machine/asset_block.html" with asset="1750" line="ab1vinput" part=data.ab1vinput.1750 %}
    </div>
</div>
