{% load static %}
{% load django_bootstrap5 %}

{% block extra_head %}
    <script src="{% static 'chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'moment.js/moment.min.js' %}"></script>
    <script src="{% static 'chart.js/chartjs-adapter-moment.min.js' %}"></script>
    {% block extra_styles %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container mt-3 pt-3">
        {% block main_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
