{% extends "prod_query/base.html" %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<form method="post">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type="submit" value="Submit">
</form>
{% if result %}
    <table class="table">
        {% for key, value in result.0.items %}
            <th scope="col">{{ key }}</th>
        {% endfor %}
        {% for res in result %}
            <div class="d-inline list-group-item vertical-align d-flex justify-content-between align-items-center" >
                <tr>
                    {% for key, value in res.items %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            </div>
        {% endfor %}
    </table>
    <div style="margin-bottom: 10px;">
        {{ time }}
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
{% endblock %}