{% extends "base.html" %}

{% block extra_styles %}
{% endblock %}

{% block content %}
    {% if production_data|length %}
        <div class="col-12"><h2 class="fw-bolder">Production:</h1></div>
        <table class="table">
            <tr>
                <th scope="col">Part</th>
                {% if times <= 6 %}
                    <th scope="col">Hour 1</th>
                    <th scope="col">Hour 2</th>
                    <th scope="col">Hour 3</th>
                    <th scope="col">Hour 4</th>
                    <th scope="col">Hour 5</th>
                    <th scope="col">Hour 6</th>
                    <th scope="col">Hour 7</th>
                    <th scope="col">Hour 8</th>
                    <th scope="col">Total</th>
                {% elif times <= 8 %}
                    <th scope="col">Days</th>
                    <th scope="col">Afts</th>
                    <th scope="col">Nights</th>
                    <th scope="col">Total</th>
                {% elif times <= 10 %}
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Total</th>
                {% endif %}
            </tr>
            {% for part in production_data %}
                <tr>
                    {% for data in part %}
                        {% if forloop.counter <= 1 %}
                            <th>
                        {% else %}
                            <td>
                        {% endif %}
                        {{ data }}
                        {% if forloop.counter <= 1 %}
                            </th>
                        {% else %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="col-12"><hr></div>
    {% endif %}
    {% if reject_data|length %}
        <div class="col-12"><h2 class="fw-bolder">Rejects:</h1></div>
        <div class="col-12"><hr></div>
        <table class="table">
            <tr>
                <th scope="col">Part</th>
                <th scope="col">Reject Reason</th>
                {% if times <= 6 %}
                    <th scope="col">Hour 1</th>
                    <th scope="col">Hour 2</th>
                    <th scope="col">Hour 3</th>
                    <th scope="col">Hour 4</th>
                    <th scope="col">Hour 5</th>
                    <th scope="col">Hour 6</th>
                    <th scope="col">Hour 7</th>
                    <th scope="col">Hour 8</th>
                    <th scope="col">Total</th>
                {% elif times <= 8 %}
                    <th scope="col">Days</th>
                    <th scope="col">Afts</th>
                    <th scope="col">Nights</th>
                    <th scope="col">Total</th>
                {% elif times <= 10 %}
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Total</th>
                {% endif %}
            </tr>
            {% for reason in reject_data %}
                <tr>
                    {% for data in reason %}
                        {% if forloop.counter <= 2 %}
                            <th>
                        {% else %}
                            <td>
                        {% endif %}
                        {{ data }}
                        {% if forloop.counter <= 2 %}
                            </th>
                        {% else %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div class="col-12 text-center">
        <button type="button" disabled class="btn btn-primary"
            onclick="parent.location='{% url 'prod_query:machine_detail' machine=machine start_timestamp=pagerprev times=times %}'">Back</button>
        <button type="button" class="btn btn-primary"
            onclick="parent.location='{% url 'prod_query:machine_detail' machine=machine start_timestamp=pagerprev times=times %}'">Prev</button>
        <button type="button" class="btn btn-primary"
            onclick="parent.location='{% url 'prod_query:machine_detail' machine=machine start_timestamp=pagernext times=times %}'">Next</button>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}