{% load weekly_prod_tags %}
{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "prod_query/weekly_prod_style.html" %}
    <script>
        let cell_clicked_on = 0
        var myModal = document.getElementById('ExampleModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })

        function Set_Row(number){
            cell_clicked_on = number
            var part_numbers = ["50-9341", "50-0455",
        "50-1467", "50-3050", "50-8670", "50-0450",
        "50-5401", "50-0447", "50-5404", "50-0519", "50-4865", "50-5081",
        "50-4748", "50-3214", "50-5214"]
            alert(part_numbers[number])
            
            document.getElementById("id_part_number").value = part_numbers[number];
            
        }


    </script>

    <!--- 
    <style>
        html {
            transform: rotate(90deg);
            transform-origin: left top;
            overflow-x: hidden;
            width: 200vh;
            height: 200vw;
        }    
        
        .temp {
            
            position: absolute;
            top: 100%;
            left: 0;
        } 
    </style>
    --->

</head>
<body>
    <div class="container d-flex justify-content-center">
        <form id="hiddendate_form" action="" method="POST">
            {% csrf_token %}
            <table id="report-table" class="table table-striped table-hover table-borderless">
                <thead >
                    <tr>
                        <th colspan="26" id="table_heading"><h3>Weekly Production</h3></th>
                    </tr>
                    <tr id="header-row-2">
                        <th rowspan="2" id="h-part" class="subheading h-bottom">Part</th>
                        {% for day in dates %}
                            <th colspan="3" class="h-date subheading">{{ day }}</th>
                        {% endfor %}
                        <th rowspan="2" id="h-total" class="h-bottom subheading">Week Total</th>
                        <th rowspan="2" id="h-predicted" class="h-bottom subheading">Predicted Final</th>
                        <th rowspan="2" id="h-goal" class="h-bottom subheading">Goal</th>
                        <th rowspan="2" id="h-difference" class="h-bottom subheading">Rel to Goal</th>
                    </tr>    
                    <tr id="header-row-3">
                        {% for day in dates %}
                            <th class="h-shift-mid subheading h-bottom">Mid</th>
                            <th class="h-shift-day subheading h-bottom">Day</th>
                            <th class="h-shift-aft subheading h-bottom">Aft</th>
                        {% endfor %}
                    </tr>    
                </thead>
                {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                            <td class="d-part d-bottom {% if cell < 0 %}red{% endif %}"
                            {% if forloop.counter == 25 %} data-bs-toggle="modal" data-bs-target="#exampleModal"{% endif %} onClick="Set_Row({{forloop.parentloop.counter0}});">
                            {{cell}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}    
            </table>
            <button class="btn btn-outline-secondary" type="submit" name="prev">Previous Week</button>
            <button class="btn btn-outline-secondary" type="submit" name="current">Current Week</button>
            {{ form }}
            <button class="btn btn-outline-secondary" type="submit" name="specific">Set to specfic week</button>
        </form>
        
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{update_form}}
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="update"class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


