{% extends "prod_query/base.html" %}

{% block title %}Weekly Summary{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">Weekly Summary</h1>
</div>
<div class="col-12">
    <hr>
</div>
<table class="table table-bordered">
<thead>
<tr>
<th colspan=25>Weekly Production</th>
</tr>
<tr>
<th rowspan=2>Part</th>
{% for date in dates %}
<th colspan=3>date</th>
{% endfor %}
<th rowspan=2>Week Total</th>
<th rowspan=2>Predicted Final</th>
<th rowspan=2>Rel to Goal</th>
</tr>
<tr>
{% for date in dates %}
<th>M</th>
<th>D</th>
<th>A</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for line in result %}
<tr>
<th>{{line.part_number}}</th>
{% for day in line.days %}
{% for shift in day %}
<td>{{shift}}</td>
{% endfor %}
{% endfor %}
<td>{{line.total}}</td>
<td>{{line.prediction}}</td>
<td>{{line.deviation}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="col-12">
    <hr>
</div>
<pre>
{{ dates|pprint }}
{{ result|pprint }}
</pre>
{% endblock %}

{% block extra_js %}
{% endblock %}