{% load weekly_prod_tags %}
{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "weekly_prod_style.html" %}
</head>
<body>
    <div class="container d-flex justify-content-center">
        <form id="hiddendate_form" action="" method="POST">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="25">Weekly Production<button class="btn" type="submit" name="prev">Previous Week</button><button class="btn" type="submit" name="current">Current Week</button></th>
                    </tr>
                    <tr>
                        <th rowspan="2">Part</th>
                        {% for day in dates %}
                            <td colspan="3">{{ day }}</td>
                        {% endfor %}
                        <th rowspan="2">Week Total</th>
                        <th rowspan="2">Predicted Final</th>
                        <th rowspan="2">Rel to Goal</th>
                    </tr>    
                    <tr>
                        {% for day in dates %}
                            <th>Mid</th>
                            <th>Day</th>
                            <th>Aft</th>
                        {% endfor %}
                    </tr>    
                </thead>
                {% for r, g in results|zip:goals %}
                    <tr>
                        <td class="part_cell">{{g.0.1}}</td>
                        {% for value in r.0 %}
                            <td>{{value}}</td>
                        {% endfor %}    
                        <td>{{g.1}}</td>
                        <td>{{g.2}}</td>
                        <td>{{g.3}}</td>
                    </tr>
                {% endfor %}    
            </table>
            {{ form }}
            <button class="btn" type="submit" name="specific">Set to specfic week</button>
        </form>

        <!--Debugging elements-->
        {% comment %} <div class="proof"></div> {% endcomment %}
        <div>{{goals}}</div>
        {% comment %} <div>{{results}}</div> {% endcomment %}
        {% comment %} <div>{{results.11}}</div> {% endcomment %}
        {% comment %} <div>{{results.11.0.quantitycol2}}</div> {% endcomment %}
        {% comment %} <div>{{ts_s}}</div> {% endcomment %}
        {% comment %} <div>{{ts_e}}</div> {% endcomment %}
        {% comment %} <div>{{sql_django_pms}}</div> {% endcomment %}
        {% comment %} <div>{{sql_prodrptdb}}</div> {% endcomment %}
        {% comment %}
        {% for b in conved_buckets %}
            <div>{{b}}</div>
        {% endfor %}
        {% endcomment %}
        {% include "weekly_prod_script.html" %}
    </div>
</body>
</html>