{% load weekly_prod_tags %}
{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include "weekly_prod_style.html" %}
</head>
<body>
    <div class="container d-flex justify-content-center">
        <form id="hiddendate_form" action="" method="POST">
            {% csrf_token %}
            <table id="report-table" class="table table-hover table-striped">
                <thead >
                    <tr>
                        <th colspan="25" class="border-bottom border-3 border-secondary">Weekly Production<button class="btn btn-outline-secondary" type="submit" name="prev">Previous Week</button><button class="btn btn-outline-secondary" type="submit" name="current">Current Week</button></th>
                    </tr>
                    <tr id="header-row-2">
                        <th rowspan="2" class="border-end border-bottom border-3 border-secondary">Part</th>
                        {% for day in dates %}
                            <th colspan="3">{{ day }}</th>
                        {% endfor %}
                        <th rowspan="2" class="border-start border-bottom border-3 border-secondary">Week Total</th>
                        <th rowspan="2" class="border-bottom border-3 border-secondary" id="pred_final">Predicted Final</th>
                        <th rowspan="2" class="border-bottom border-3 border-secondary">Rel to Goal</th>
                    </tr>    
                    <tr id="header-row-3">
                        {% for day in dates %}
                            <th class="border-bottom border-3 border-secondary">Mid</th>
                            <th class="border-bottom border-3 border-secondary">Day</th>
                            <th class="border-bottom border-3 border-secondary">Aft</th>
                        {% endfor %}
                    </tr>    
                </thead>
                {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                            <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}    
            </table>
            {{ form }}
            <button class="btn btn-outline-secondary" type="submit" name="specific">Set to specfic week</button>
        </form>
        {% include "weekly_prod_script.html" %}
    </div>
</body>
</html>