{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Auth Page</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('rev 1elopkcats');
        });
    </script>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 300px;">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="auth_input">Password:</label>
                        <input type="password" class="form-control" id="auth_input" name="auth_input" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
