/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e9f5fc;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #e0f7fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #00796b;
    margin-bottom: 1.5rem;
    font-size: 3rem; /* Increased font size */
}

h3 {
    color: #004d40;
    font-size: 2rem; /* Increased font size */
}

.form-control {
    padding: 1.5rem;
    border: 1px solid #b2dfdb;
    border-radius: 4px;
    font-size: 1.25rem; /* Increased font size */
}

.expected-tool-life {
    margin-top: 0.25rem;
    font-size: 0.9rem; /* Increased font size */
    color: #004d40;
}

.submit-button, .reset-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem; /* Increased font size */
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
    width: 100%;
    margin-top: 0.5rem;
}

.submit-button {
    background: linear-gradient(to bottom, #26a69a 0%, #00796b 100%);
    color: #fff;
}

.submit-button:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
}

.reset-button {
    background: linear-gradient(to bottom, #80cbc4 0%, #80cabe 100%);
    color: #fff;
}

.submit-button:hover {
    background: linear-gradient(to bottom, #00796b 0%, #004d40 100%);
}

.reset-button:hover {
    background: linear-gradient(to bottom, #004d40 0%, #00251a 100%);
}

form label {
    font-size: 1.25rem; /* Adjust this value to desired font size */
}


/* Responsive Design */
@media (max-width: 768px) {
    .row > .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 2.5rem; /* Adjusted font size for smaller screens */
    }

    h3 {
        font-size: 1.75rem; /* Adjusted font size for smaller screens */
    }

    .form-control {
        font-size: 1.125rem; /* Adjusted font size for smaller screens */
    }

    .expected-tool-life {
        font-size: 1.125rem; /* Adjusted font size for smaller screens */
    }

    .submit-button, .reset-button {
        font-size: 1.125rem; /* Adjusted font size for smaller screens */
    }
}
