/* General styles */
.label-box {
    width: 38mm;
    height: 85mm;
    /* border: 1px solid #000; */
    padding: 0.05in;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
}

.label-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: rotate(90deg);
    transform-origin: center;
    width: 85mm; /* Set to the height of the label box after rotation */
    height: 38mm; /* Set to the width of the label box after rotation */
    position: absolute; /* Position absolutely within the relative .label-box */
}

.label-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%; /* Each column takes half the width */
    padding: 0 2mm; /* Add padding to distribute content */
}

.label-column div {
    font-size: 14px; /* Increase font size */
    text-align: center; /* Center-align the text */
}

/* Print styles */
@media print {
    @page {
        size: 29mm 89.8mm landscape;
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    body * {
        visibility: hidden;
    }
    #printable-label, #printable-label * {
        visibility: visible;
    }
    #printable-label {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 38mm;
        height: 85mm;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
