{% extends "query_tracking/base.html" %}

{% block title %}Query Time{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">Query Time</h1>
</div>
<div class="col-12">
    <hr>
</div>

{% if result %}
    <table class="table">
        <th scope="col">Source</th>
        <th scope="col">Time</th>
        <th scope="col">Query</th>    
        {% for res in result %}
            <div class="d-inline list-group-item vertical-align d-flex justify-content-between align-items-center" >
                <tr>
                    <td>{{ res.source }}</td>
                    <td>{{ res.time }}</td>
                    <td>{{ res.query }}</td>
                </tr>
            </div>
    {% endfor %}
    </table>
    <div style="margin-bottom: 10px;">
        {{ time }}
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
{% endblock %}