{% extends "barcode_verify/base.html" %}
{% load widget_tweaks %}
{% block title %}Duplicate Barcode{% endblock %}
<!--
{% block extra_styles %}
{% endblock %}
-->
{% block content %}
    <div class="col-12">
        <h1 class="fw-bolder text-center">Duplicate Barcode Scanned</h1>
    </div>
    <div class="col-12"><hr></div>
    <div class="">Last code:{{ scanned_barcode }}</div>
    <div class="">Part number:{{ part_number }}</div>
    <div class="">Previously Scanned:{{ scanned_at }}</div>
    <div class="col-12"><hr></div>
    <form class="row d-flex justify-content-center" action="" method="GET">
        <div class="col-auto">
            <button type="submit" name="set_count" class="btn btn-outline-secondary">Set Counter</button>
        </div>
    </form>
    <div class="col-12"><hr></div>
{% endblock %}
<!--
{% block extra_js %}
{% endblock %}
-->