{% extends "barcode_verify/plain.html" %}
{% load widget_tweaks %}
{% block title %}Barcode Verify{% endblock %}

{% block content %}

<style>
/* form errors and request messages and alerts */
.badge-light {
    margin-top: 2.5em;
}
.errorlist {
    list-style: none;
    padding-left: 0px;
    opacity: 0.8;
    color: #dc3545;
    font-size: 12px;
}
.msg {
    margin: 0 !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}
.messages {
    z-index: 100;
    position: fixed;
    right: 2em;
    margin-top: -1em;
    list-style: none;
    text-align: right;
}
.alert {
    margin-top: 1rem;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
</style>

<div class="container mt-3 pt-3">
  <div>{{ last_part_status }}</div>
  <div class="messages" id="messages-list">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible msg fade show" role="alert" id="myAlert" >
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  </div>
  <div class="col-12">
    <h1 class="fw-bolder text-center">Barcode Verify</h1>
  </div>
  {% if last_part_status == 'ok' %} 

  <div class="col-12">
    <hr>
  </div>
  <form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center input-control-lg mb-3">
      <div class="col-auto w-50">
        {{ form.barcode|add_class:"form-control"|attr:"placeholder:Scan Barcode" }}
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit" name="submit">Submit</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
      <div class="col-auto"><h4>Current Part:</h4></div>
      <div class="col-auto">
      <select class="form-select" name="part_select" aria-label="Part Selector">
        {% for option in part_select_options %}
          <option value="{{ option.id }}"{% if option.id == active_part %} selected{% endif %}>
            {{ option.name }}
          </option>
        {% endfor %}
      </select>
      </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
      <div class="col-auto"><h4>Running Count:</h4></div>
      <div class="col-auto"><h4>{{ running_count }}</h4></div>
    </div>
  </form>
  <div class="col-12">
    <hr>  
  </div>
  <form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="col-auto w-25">
      <input name="count" type="text" class="form-control" placeholder="New Counter Value">
    </div>
    <div class="col-auto">
      <button type="submit" name="set_count" class="btn btn-outline-secondary">Set Counter</button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </form>
  {% elif last_part_status == 'duplicate-barcode' %}
    <div id="duplicate">  ** {{ last_barcode.bar_code }} ** {{ last_barcode.scanned_at }} **</div>
  {% elif last_part_status == 'barcode-misformed' %}
    <div id="misformed">  **  {{ last_barcode.bar_code }}  ** </div>
  {% endif %}
</div>
<script>
  setTimeout(function() {
    bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    document.getElementById('id_barcode').focus();
  }, 3000)
</script>
{% endblock %}
