{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>{{ form.instance.pk|yesno:"Edit Question,Create Question" }}</title>
</head>
<body class="p-4">

    <div class="container">
        <h1>{{ form.instance.pk|yesno:"Edit Question,Create Question" }}</h1>
        <form method="post" class="row g-3">
            {% csrf_token %}
            <input type="hidden" name="form" value="{{ form.instance.form.id }}">

            <div class="col-md-6">
                <label for="id_feature" class="form-label">Feature:</label>
                {{ form.feature }}
            </div>

            <div class="col-md-6">
                <label for="id_special_characteristic" class="form-label">Special Characteristic:</label>
                {{ form.special_characteristic }}
            </div>

            <div class="col-md-6">
                <label for="id_characteristic" class="form-label">Characteristic:</label>
                {{ form.characteristic }}
            </div>

            <div class="col-md-6">
                <label for="id_specifications" class="form-label">Specifications:</label>
                {{ form.specifications }}
            </div>

            <div class="col-md-6">
                <label for="id_sample_frequency" class="form-label">Sample Frequency:</label>
                {{ form.sample_frequency }}
            </div>

            <div class="col-md-6">
                <label for="id_sample_size" class="form-label">Sample Size:</label>
                {{ form.sample_size }}
            </div>

            <div class="col-md-6">
                <label for="id_done_by" class="form-label">Done By:</label>
                {{ form.done_by }}
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</body>
</html>
