{% extends "barcode/base.html" %}

{% load widget_tweaks %}
{% load tz %}

{% block title %}Line Query{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
  <h1 class="fw-bolder text-center">Select a line to query:</h1>
</div>
<div class="col-12">
  <hr>
</div>

<form class="row d-flex justify-content-center" action="" method="post">
  {% csrf_token %}
  <div class="row d-flex justify-content-center input-control-lg mb-3">
    <div class="col-auto w-50">
      {{ form.line|add_class:"form-control" }}
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </div>
  </div>
</form>

<h1>Production {{ start }} {{ TIME_ZONE }}</h1>
<table class="table">
  <tr>
    <th scope="col">Machine</th>
    <th scope="col">Hour 1</th>
    <th scope="col">Hour 2</th>
    <th scope="col">Hour 3</th>
    <th scope="col">Hour 4</th>
    <th scope="col">Hour 5</th>
    <th scope="col">Hour 6</th>
    <th scope="col">Hour 7</th>
    <th scope="col">Hour 8</th>
    <th scope="col">Projected</th>
  </tr>
  {% for machine in production %}
  <tr>
    <th scope="row">{{ machine.0 }}</th>
    <td>{{ machine.1 }}</td>
    <td>{{ machine.2 }}</td>
    <td>{{ machine.3 }}</td>
    <td>{{ machine.4 }}</td>
    <td>{{ machine.5 }}</td>
    <td>{{ machine.6 }}</td>
    <td>{{ machine.7 }}</td>
    <td>{{ machine.8 }}</td>
    <td>{{ machine.9 }}</td>
  </tr>
  {% endfor %}
</table>

{{ now|localtime }}{{ cur_tz }}<br>
{{ now|utc }}{{ def_tz }}
{% endblock %}

{% block extra_js %}
{% endblock %}