{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">

    <title>{{ title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" /> -->
    {%  block extra_styles %}
    {% endblock %}
</head>

<body>
    <div class="container mt-3 pt-3">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    
    </div>
    <!-- Optional Javascript -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
    {% block extra_js %}
    {% endblock %}
</body>

