{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Barcode Verify{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<form id="main_form" class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto w-50">
            {{ form.barcode|add_class:"form-control"|attr:"placeholder:Scan Barcode" }}
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" name="btnsubmit">Submit</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <h4>Current Part:</h4>
        </div>
        <div class="col-auto">
            <select class="form-select" name="part_select" aria-label="Part Selector" onChange="autoSubmit();">
                {% for option in part_select_options %}
                <option value="{{ option.id }}" {% if option.id == active_part %} selected {% endif %}>
                    {{ option.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if not scan_check %}
    <div class="row d-flex justify-content-center input-control-lg mb-0">
        {% if gfx and not scan_check %}
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>{{ scanned_code }}</h1>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-auto">
                <h1>Running Count:</h1>
            </div>
            <div class="col-auto">
                <h1>{{ running_count }}</h1>
            </div>
        </div>
    </div>
    {% endif %}
</form>

<div class="col-12">
    <hr>
</div>
{% if not scan_check %}
<form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="col-auto w-25">
        <input name="count" id="set_counter" type="text" class="form-control" placeholder="New Counter Value">
    </div>
    <div class="col-auto">
        <button type="submit" name="set_count" class="btn btn-outline-secondary">Set Counter</button>
    </div>
    <div class="col-12">
        <hr>
    </div>
</form>
{% endif %}
<form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="col-auto">
        {% if gfx and scan_check %}
            <button type="submit" name="switch-single-gfx" class="btn btn-outline-secondary">Single</button>
            <button type="submit" name="switch-batch-gfx" class="btn btn-outline-secondary">Batch</button>
        {% elif gfx and not scan_check %}
            <button type="submit" name="switch-check-gfx" class="btn btn-outline-secondary">Check</button>
            <button type="submit" name="switch-batch-gfx" class="btn btn-outline-secondary">Batch</button>
        {% elif scan_check and not gfx %}
            <button type="submit" name="switch-single" class="btn btn-outline-secondary">Switch Scan Mode</button>
        {% else %}
            <button type="submit" name="switch-check" class="btn btn-outline-secondary">Switch Scan Mode</button>
        {% endif %}
    </div>
</form>
<!-- Execution time 
<div class="col-12">
    <h5 class="fw-bolder text-center">Execution Time: {{ timer }}</h5>
</div>  -->


{% endblock %}

{% block extra_js %}
<script>
    setTimeout(function () {
        bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    }, 2000)
    
    window.onload = function() {
        document.getElementById('id_barcode').focus();
    }

    function autoSubmit(){
        document.forms['main_form'].submit();
    }
    document.getElementById("id_barcode").onblur = function (event) { 
        console.log(event)
        if(event.relatedTarget === null) {
            document.getElementById("id_barcode").focus({preventScroll:true})
            return
        }
        if (!(event.relatedTarget.id === "set_counter")){
            document.getElementById("id_barcode").focus({preventScroll:true})
        }
    };
    document.getElementById("set_counter").onblur = function (event) { 
        console.log(event)
        if(event.relatedTarget === null) {
            document.getElementById("set_counter").focus({preventScroll:true})
            return
        }
        if (!(event.relatedTarget.id === "id_barcode")){
            document.getElementById("set_counter").focus({preventScroll:true})
        }
    };
</script>
{% endblock %}