{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Duplicate Barcode{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center bg-danger text-white">Duplicate Barcode Scanned</h1>
</div>
<div class="col-12">
    <hr>
</div>
<div class="text-center">Last code: {{ scanned_barcode }}</div>
<div class="text-center">Part number: {{ part_number }}</div>
<div class="text-center">Previously Scanned: {{ duplicate_scan_at }}</div>
<div class="fw-bolder text-center">Do not pack this part!</div>
<div class="text-center">Mark 'DL' and place on the scrap cart.</div>
<div class="text-center">Contact your supervisor if this message persists.</div>
<div class="col-12">
    <hr>
</div>
<form class="row d-flex justify-content-center" action="{% url 'barcode:duplicate-scan' %}" method="GET">
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary">Return to Scanning</button>
    </div>
</form>
<div class="col-12">
    <hr>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
