{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Barcode Verify{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center" id="page_title">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<div class="row d-flex justify-content-center input-control-lg align-items-center mb-3">
    <div class="col-sm-4 pe-0">
        <label for="scan_input">Barcode</label>
        <input type="text" class="form-control" id="scan_input"/>
        <label for="count">Count</label>
        <input type="text" class="form-control" id="running_count"/>
    </div>
</div>
<form id="main_form" class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <ul id="demo"></ul>
            {{ form.barcode|add_class:"form-control"|attr:"placeholder:Scan Barcode"|attr:"hidden" }}
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" id="submit_button" name="btnsubmit">Submit</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <h4>Current Part:</h4>
        </div>
        <div class="col-auto">
            <select class="form-select" name="part_select" aria-label="Part Selector" onChange="autoSubmit();" id="part_select">
                {% for option in part_select_options %}
                <option value="{{ option.id }}" {% if option.id == active_part %} selected {% endif %}>
                    {{ option.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>

<!-- Execution time 
<div class="col-12">
    <h5 class="fw-bolder text-center">Execution Time: {{ timer }}</h5>
</div>  -->

{% endblock %}

{% block extra_js %}
<script data-active_part_prefix = "{{active_part_prefix}}"
        data-parts_per_tray = "{{parts_per_tray}}">
    const data = document.currentScript.dataset;

    // submits the form when the part type dropdown changes
    function autoSubmit(){
        document.forms['main_form'].submit();
    }

    let selection
    // On first page load and any successive cache loads, focuses barcode input and disables submit button
    window.onpageshow = function() {
        document.getElementById('scan_input').focus();
        document.getElementById("submit_button").setAttribute('disabled', true)
    }
    
    const scin = document.getElementById('scan_input')

    function gettingInput(event) {
        console.log(document.getElementById("part_select").value)
        console.log(data.active_part_prefix)


        // Skips if already scanned in skid
        if(!document.getElementById("id_barcode").value.split("\n").includes(document.getElementById("scan_input").value)){
            let scanned_code = document.getElementById("scan_input").value + "\n"
            // Add to visible list
            let list = document.getElementById('demo');
            let entry = document.createElement('li');
            entry.appendChild(document.createTextNode(scanned_code));
            list.prepend(entry);
            // Add to hidden list
            document.getElementById("id_barcode").value += scanned_code
            let contents = document.getElementById("id_barcode").value.split("\n")

            // Updates count
            let count = contents.length - 1
            document.getElementById("running_count").value = count.toString() + " of " + data.parts_per_tray.toString()   
            
            // Enable button once correct count is reached
            if(contents[0].slice(0,4) === "J6SS" && count === 16){
                document.getElementById("submit_button").removeAttribute('disabled')
            } else if(contents[0].slice(0,5) === "GTALB" && count === 19){
                document.getElementById("submit_button").removeAttribute('disabled')
            }

            if(contents[0].slice(0,4) === "skip" && count === 1){
                document.getElementById("submit_button").removeAttribute('disabled')
            } //
        }
        document.getElementById("scan_input").value = ""
    }
    scin.addEventListener("change", gettingInput, true)

    // Warns user if input box is unselected
    // User can still interact with part selector and submit button
    /*scin.onchange = gettingInput;
    function onUnfocus(event) {
        alert("select barcode input field")
    }
    scin.addEventListener("focusout", onUnfocus, false)*/
</script>
{% endblock %}