{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Barcode Verify{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center" id="page_title">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<div class="row d-flex justify-content-center input-control-lg mb-2">
    <div class="col-auto">
        <div id="visible_list"></div>
    </div>
</div>
<div class="row d-flex justify-content-center input-control-lg align-items-center mb-3">
    <div class="col-8">
        <label for="scan_input">Barcode</label>
        <input type="text" inputmode="none" class="form-control" id="scan_input"/>
    </div>
    <div class="col">
        <label for="running_count">Count</label>
        <input type="text" inputmode="none" class="form-control" id="running_count"/>
    </div>
</div>
<form id="main_form" class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center input-control-lg mb-2">
        <div class="col-auto">
            {{ form.barcodes|add_class:"form-control"|attr:"placeholder:Scan Barcode" |attr:"hidden"}}
            <!-- {{ form.barcodes|add_class:"form-control"|attr:"placeholder:Scan Barcode"}} -->
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-2">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" id="submit_button" name="btnsubmit">Submit</button>
            <button class="btn btn-secondary" type="button" id="clear_button" >Clear</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-2">
        <div class="col-auto">
            <h4>Current Part:</h4>
        </div>
        <div class="col-auto">
            <select class="form-select" name="part_select" aria-label="Part Selector" onChange="autoSubmit()" id="part_select">
                {% for option in part_select_options %}
                <option value="{{ option.id }}" {% if option.id == active_part %} selected {% endif %}>
                    {{ option.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>

<!-- Execution time 
<div class="col-12">
    <h5 class="fw-bolder text-center">Execution Time: {{ timer }}</h5>
</div>  -->

{% endblock %}

{% block extra_js %}
<script data-active_part_prefix = "{{active_part_prefix}}"
        data-parts_per_tray = "{{parts_per_tray}}">
    const data = document.currentScript.dataset
    var barcode_list = new Array()

    console.log(data);

    const scanner_input_textbox = document.getElementById("scan_input")
    const barcodes_textbox = document.getElementById("id_barcodes")
    const visible_list = document.getElementById("visible_list")
    const running_count = document.getElementById("running_count")
    const form = document.getElementById("main_form");
    const submit_button = document.getElementById("submit_button")
    const clear_button = document.getElementById("clear_button")

    let invalidCodeFound = false

    function clear(event) {
        console.log("clear_button")

        // Reset invalid barcode flag
        invalidCodeFound = false

        // Reset displayed and stored values
        document.getElementById("id_barcodes").value = ""
        visible_list.innerHTML = ""
        
        // Reset count
        document.getElementById("running_count").value = "0" + " of " + data.parts_per_tray.toString()
        
        // Disable submit
        submit_button.setAttribute("disabled", true)

        // Enable and refocus input
        scanner_input_textbox.removeAttribute("disabled")
        scanner_input_textbox.focus({preventScroll:true})
    }
    clear_button.addEventListener("click", clear, false)

    // On first page load and any successive cache loads
    //    Focuses barcode input
    //    Ensures barcode input is enabled 
    //    Disables submit button
    //    Initializes count
    window.onpageshow = function() {
        scanner_input_textbox.focus({preventScroll:true})
        submit_button.setAttribute('disabled', true)
        document.getElementById("running_count").value = "0" + " of " + data.parts_per_tray.toString()
    }

    scanner_input_textbox.onblur = function (event) { 
        console.log(event)
        if(event.relatedTarget === null) {
            scanner_input_textbox.focus({preventScroll:true})
            return
        }
        if (!(event.relatedTarget.id === "clear_button")){
            scanner_input_textbox.focus({preventScroll:true})
        }
    };
    
    // submits the form when the part type dropdown changes
    // sets the part type value and loads the correct part specific values
    function autoSubmit(){
        form.submit()
    }

    function blockmulti(){
        console.log("trigger")
        submit_button.setAttribute("disabled", true)
    }
    form.addEventListener("submit", blockmulti, false)

    function processScan(event) {
        const scanned_code = scanner_input_textbox.value

        // Skips if already scanned in skid
        if (barcodes_textbox.value.split("\n").includes(scanned_code)){
            console.log("found duplicate");
            scanner_input_textbox.value = ""
            return
        }

        // Adds to hidden form field
        barcodes_textbox.value += scanned_code + '\n'

        // Updates count
        contents = barcodes_textbox.value.split('\n')
        let count = contents.length - 1
        running_count.value = count.toString() + " of " + data.parts_per_tray.toString()   

        // Create list entry from code
        // If code is does not match prefix, highlight and disable submission
        // Adds to beginning of visible list
        let entry = document.createElement("p");
        entry.setAttribute("style", "font-size: small; margin: 0;")
        entry.appendChild(document.createTextNode(scanned_code));
        if (!scanned_code.startsWith(data.active_part_prefix)){
            entry.classList.add("text-danger")
            invalidCodeFound = true
        }
        visible_list.appendChild(entry);

        // Disable input once count is reached
        // If no code is invalid, enable submission
        if(count === parseInt(data.parts_per_tray)){
            scanner_input_textbox.setAttribute("disabled", true)
            if (!invalidCodeFound) {
                submit_button.removeAttribute("disabled")
            }
        } 

        // clear the input for next scan
        scanner_input_textbox.value = ""
        submit_button.scrollIntoView();
    }
    scanner_input_textbox.addEventListener("change", processScan, true)

</script>
{% endblock %}