{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Duplicate Barcode{% endblock %}

{% block extra_styles %}
<style>
    .alert-supervisor {
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center bg-danger text-white">Duplicate Barcode Scanned</h1>
</div>
<div class="col-12">
    <hr>
</div>
<div class="text-center">Last code: {{ scanned_barcode }}</div>
<div class="text-center">Part number: {{ part_number }}</div>
<div class="text-center">Previously Scanned: {{ duplicate_scan_at }}</div>
<div class="col-12">
    <hr>
</div>
<form class="row d-flex justify-content-center" action="{% url 'barcode:verify-unlock-code' %}" method="POST">
    {% csrf_token %}
    <div class="col-auto">
        <input type="text" id="employeeIdInput" name="employee_id" minlength="3" maxlength="10" class="form-control" placeholder="Enter Employee ID" required>
    </div>
    <div class="col-auto">
        <input type="text" id="unlockCodeInput" name="unlock_code" maxlength="3" class="form-control" placeholder="Enter 3-digit unlock code" required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary">Submit Code</button>
    </div>
</form>
<div class="col-12">
    <hr>
</div>
<h1 class="fw-bolder text-center bg-danger text-white">Contact your supervisor immediately for the unlock code</h1>

{% endblock %}

{% block extra_js %}
<script>
    function checkUrl() {
        if (!window.location.pathname.endsWith('/duplicate_found')) {
            window.location.href = "{% url 'barcode:duplicate-found' %}";
        }
    }

    setInterval(checkUrl, 1000);

    // Console log the unlock code when the page loads
    window.onload = function() {
        const unlockCode = "{{ unlock_code }}";  // Use Django template syntax to get the unlock code
        console.log('Unlock code:', unlockCode);
    };
</script>
{% endblock %}
