{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Barcode Verify{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<form id="main_form" class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto w-50">
            {{ form.barcode|add_class:"form-control"|attr:"placeholder:Scan Barcode" }}
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" name="btnsubmit">Submit</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <h4>Current Part:</h4>
        </div>
        <div class="col-auto">
            <select class="form-select" name="part_select" aria-label="Part Selector" onChange="autoSubmit();">
                {% for option in part_select_options %}
                <option value="{{ option.id }}" {% if option.id == active_part %} selected {% endif %}>
                    {{ option.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if not scan_check %}
    <div class="row d-flex justify-content-center input-control-lg mb-3">
        <div class="col-auto">
            <h1>Running Count:</h1>
        </div>
        <div class="col-auto">
            <h1>{{ running_count }}</h1>
        </div>
    </div>
    {% endif %}
</form>

<div class="col-12">
    <hr>
</div>
{% if not scan_check %}
<form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="col-auto w-25">
        <input name="count" type="text" class="form-control" placeholder="New Counter Value">
    </div>
    <div class="col-auto">
        <button type="submit" name="set_count" class="btn btn-outline-secondary">Set Counter</button>
    </div>
    <div class="col-12">
        <hr>
    </div>
</form>
{% endif %}
<form class="row d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <div class="col-auto">
        <button type="submit" name="switch-mode" class="btn btn-outline-secondary">Switch Scan Mode</button>
    </div>
    <div class="col-12">
        <hr>
    </div>
</form>

{% endblock %}

{% block extra_js %}
<script>
    setTimeout(function () {
        bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    }, 2000)
    
    window.onload = function() {
        document.getElementById('id_barcode').focus();
    }

    function autoSubmit(){
        document.forms['main_form'].submit();
    }

    function checkUnlockCodeStatus() {
        const duplicateFound = "{{ request.session.duplicate_found|yesno:'true,false' }}";
        const unlockCodeSubmitted = "{{ request.session.unlock_code_submitted|yesno:'true,false' }}";
        
        if (duplicateFound === "true" && unlockCodeSubmitted === "false") {
            window.location.href = "{% url 'barcode:duplicate-found' %}";
        }
    }

</script>
{% endblock %}
