




<form method="post">
  {% csrf_token %}
  <label>Part Number</label></br>
  <input type="text" id="part_number" name="part_number"></br>

  <label>Grade</label></br>
  <input type="text" id="grade" name="grade"></br>

  <label>Created At</label></br>
  <input type="datetime-local" id="created_at" name="created_at"></br>

  <label>Asset</label></br>
  <input type="text" id="asset" name="asset"></br>

  <label>Barcode</label></br>
  <input type="text" id="barcode" name="barcode"></br>

  <input type="submit" value="Submit">
</form>

{% for mark in lasermarks %}

<p>lasermark #: {{mark.id}}</p>
<p>part number: {{mark.part_number}}, grade: {{mark.grade}}</p>
<p>created at: {{mark.created_at}}, asset: {{mark.asset}}</p>
<p>bar code: {{mark.bar_code}}</p>

{% empty %}
<p>No lasermarks returned</p>

{% endfor %}
