{% extends "barcode/base.html" %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<form method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input style="margin-top: 8px;" type="submit" value="Submit">
</form>

{% if result %}
    <table class="table" id="results_table">
        <tr>
            <th scope="col">Count</th>
            <th scope="col">Date</th>    
            <th scope="col">Grade</th>    
        </tr>
        {% for res in result %}
            {% if res.div %}
                <tr style="border-bottom: 1px dashed black;">
                    <td>{{ res.count }}</td>
                    <td>{{ res.date|date }}</td>
                    <td>{{ res.grade }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ res.count }}</td>
                    <td>{{ res.date|date }}</td>
                    <td>{{ res.grade }}</td>
                </tr>
            {% endif %}
    {% endfor %}
    </table>
    <div style="margin-bottom: 10px;">
        {{ time }}
    </div>
{% elif error %}
    <div>{{ error }}</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}