


<form method="post">
    {% csrf_token %}
    
    <label>Asset</label></br>
    <input type="text" id="asset" name="asset"></br>
  
    <label>time period start</label></br>
    <input type="datetime-local" id="start" name="start"></br>

    <label>time period end</label></br>
    <input type="datetime-local" id="end" name="end"></br>
  
    <input type="submit" value="Submit">
  </form>

  <table>
    <tr>
      <th>part number</th>
      <th>A quantity</th>
      <th>A percentage</th>
      <th>B quantity</th>
      <th>B percentage</th>
      <th>C quantity</th>
      <th>C percentage</th>
      <th>D quantity</th>
      <th>D percentage</th>
      <th>E quantity</th>
      <th>E percentage</th>
      <th>F quantity</th>
      <th>F percentage</th>
    </tr>
    
        {% for row in rows %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
            
            

        {% endfor %}
            
      
      
    
  </table>
  
  <!--
  {% for mark in lasermarks %}
  
  <p>lasermark #: {{mark.id}}</p>
  <p>part number: {{mark.part_number}}, grade: {{mark.grade}}</p>
  <p>created at: {{mark.created_at}}, asset: {{mark.asset}}</p>
  <p>bar code: {{mark.bar_code}}</p>
  </br>
  
  {% empty %}
  <p>No lasermarks returned</p>
  
  {% endfor %}
  -->
