{% extends "barcode/base.html" %}
{% load widget_tweaks %}
{% block title %}Supervisor Setup{% endblock %}

{% block content %}
<div class="col-12">
    <h1 class="fw-bolder text-center" id="page_title">{{ title }}</h1>
</div>
<div class="col-12">
    <hr>
</div>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="part_select" class="form-label">Select Part Number</label>
        <select class="form-select" name="part_select" id="part_select" required>
            {% for option in part_options %}
            <option value="{{ option.id }}">{{ option.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tag" class="form-label">Add Tag</label>
        <input type="text" class="form-control" name="tag" id="tag" placeholder="Enter a tag" required>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="per_tray" id="per_tray" checked>
        <label class="form-check-label" for="per_tray">
            Per Tray
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
