{% extends "tooling/base.html" %}

{% block content %}
  <div class="container">
    <h2>{{ form_definition.name }}</h2>
    <p>{{ form_definition.description }}</p>
    
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
