{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'tooling/css/label/label.css' %}">
</head>
<body>
    <div class="container mt-5">
        <!-- Instructions Section -->
        <div class="alert alert-info">
            <h4>Printing Instructions:</h4>
            <p>Please follow these steps to print your label:</p>
            <ol>
                <li>Click the "Print Label" button.</li>
                <li>Select the "Brother QL-700" printer.</li>
                <li>Choose Odd Pages Only</li>
                <li>Set the paper size to "Small Address Label".</li>
                <li>Set the quality to "300 x 600 dpi".</li>
                <li>Choose "Actual Size".</li>
                <li>Select "No Margins" (sometimes it defaults to margins).</li>
            </ol>
        </div>

        <!-- Print Button -->
        <button class="btn btn-primary mb-3" onclick="printLabel();">Print Label</button>

        <!-- Label Content -->
        <div id="printable-label">
            <div class="label-box">
                <div class="label-content">
                    <div class="label-column">
                        <div><b>Machine No:</b> {{ form_data.machine }}</div>
                        <div><b>Tool:</b> {{ form_data.tool_type }}</div>
                        <div><b>Serial:</b> {{ form_data.tool_serial_number }}</div>
                    </div>
                    <div class="label-column">
                        <div><b>Status:</b> {{ form_data.tool_status }}</div>
                        <div><b>Tool Life:</b> {{ form_data.actual_tool_life }}</div>
                        <div><b>Issue:</b> {{ form_data.tool_issue }}</div>
                    </div>
                </div>
            </div>                          
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'tooling/js/label/label.js' %}"></script>
</body>
</html>
