{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Report Form</title>
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <script src={% static "bootstrap/js/bootstrap.bundle.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tooling/css/report/tool_report.css' %}">
    <style>
        /* Hide arrows in number input fields */
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5 p-5 bg-light shadow-lg rounded">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-center">ZF Tool Report Form</h1>
            <a href="{% url 'tooling:label_page' %}" class="btn btn-outline-secondary">Back to Label</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Last 10 Entries</h3>
                <ul class="list-group">
                    {% for entry in last_10_entries %}
                        <li class="list-group-item">
                            <a href="{% url 'tooling:label_page' %}?entry_id={{ entry.id }}">{{ entry.created_at|date:"F j, Y" }} - {{ entry.tool_serial_number }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <form id="toolReportForm" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.machine.errors }}
                            {{ form.machine.label_tag }}
                            {{ form.machine }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.operation.errors }}
                            {{ form.operation.label_tag }}
                            {{ form.operation }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.shift.errors }}
                            {{ form.shift.label_tag }}
                            {{ form.shift }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.operator.errors }}
                            {{ form.operator.label_tag }}
                            {{ form.operator }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.tool_type.errors }}
                            {{ form.tool_type.label_tag }}
                            {{ form.tool_type }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.tool_status.errors }}
                            {{ form.tool_status.label_tag }}
                            {{ form.tool_status }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.tool_issue.errors }}
                            {{ form.tool_issue.label_tag }}
                            {{ form.tool_issue }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.expected_tool_life.errors }}
                            {{ form.expected_tool_life.label_tag }}
                            {{ form.expected_tool_life }}
                            <p class="expected-tool-life">Expected tool life for Drill is 750 and for Reamer is 250.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.actual_tool_life.errors }}
                            {{ form.actual_tool_life.label_tag }}
                            {{ form.actual_tool_life }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.tool_serial_number.errors }}
                            {{ form.tool_serial_number.label_tag }}
                            {{ form.tool_serial_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            {{ form.comments.errors }}
                            {{ form.comments.label_tag }}
                            {{ form.comments }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary submit-button">Submit</button>
                            <button type="reset" class="btn btn-secondary reset-button">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'tooling/js/report/fieldValidation.js' %}"></script>
    <script src="{% static 'tooling/js/report/toolLife.js' %}"></script>
</body>
</html>
